<div class="bg-image flex-column align-items-center">
  <div class="title-text">
    <h1 class="text-light">My Movie Lists</h1>
    <p class="text-light">Add your favourite movies to the list!</p>
    <div class="title-text-faded"></div>
  </div>
</div>
<div class="container d-flex flex-column align-items-center">
  <% if @lists.empty? %>
    <h3>Please add a list</h3>
    <%= link_to "New list", new_user_list_path(@user), class: "btn btn-primary"%>
  <% end %>
  <div class="list row">
    <% @lists.each do |list| %>
      <div class="list-item col-lg-4 col-xs-12 col-md-6">
        <%= link_to list_path(list) do %>
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, class:"mb-2 list-image" %>
          <% else %>
            <%= image_tag "list-image.jpg", alt: "MyMovieList logo", class:"my-2 list-image" %>
          <% end %>
          <h2><%= list.name %></h2>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
``
