<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@400;600;800&display=swap"   rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <header>
      <nav class="d-flex justify-content-between align-items-center">
        <%= link_to lists_path do %>
          <div class="d-flex logo align-items-center">
          <%= image_tag "cinema.svg", alt: "MyMovieList logo", height: 45 %>
          <h2>Studio9</h2>
        </div>
        <% end %>
        <div class="nav-links" data-controller="nav-links">
          <%= link_to "My lists", lists_path %>
          <%= link_to "New list", new_user_list_path(@user), class:"mx-2" %>
        </div>
        <div class="nav-user">
          <i class="fa-regular fa-bell"></i>
          <i class="fa-solid fa-gear mx-2"></i>
          <%= link_to user_path(@user) do %>
          <p class="nav-message">Welcome back, Edwin</p>
              <%= cl_image_tag @user.profile_picture.key,
        width: 45, height: 45, crop: :thumb, gravity: :face, class:"rounded-circle profile-picture"%>
            <% end %>
        </div>
      </nav>
    </header>
    <hr class="nav-hr">
    <%= yield %>
  </body>
</html>
